
.DS_Store
LabBST.xcodeproj/project.xcworkspace/xcuserdata/alexanderdohms.xcuserdatad/UserInterfaceState.xcuserstate

# Visual Studio 2015/2017/2019 cache/options directory
.vs/
/.vs
/.vs/
LabBST.xcodeproj/project.xcworkspace/xcuserdata/alexanderdohms.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
x64/Debug/LabBST.exe
x64/Debug/LabBST.exe.recipe
x64/Debug/LabBST.ilk
x64/Debug/LabBST.log
x64/Debug/LabBST.pdb
x64/Debug/LabBST.tlog/CL.command.1.tlog
x64/Debug/LabBST.tlog/CL.read.1.tlog
x64/Debug/LabBST.tlog/CL.write.1.tlog
x64/Debug/LabBST.tlog/LabBST.lastbuildstate
x64/Debug/LabBST.tlog/link.read.1.tlog
x64/Debug/LabBST.tlog/link.write.1.tlog
x64/Debug/testBST.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
*.exe
x64/Debug/LabBST.exe
x64/Debug/LabBST.exe.recipe
x64/Debug/LabBST.ilk
x64/Debug/LabBST.log
x64/Debug/LabBST.pdb
x64/Debug/LabBST.tlog/CL.command.1.tlog
x64/Debug/LabBST.tlog/CL.read.1.tlog
x64/Debug/LabBST.tlog/CL.write.1.tlog
x64/Debug/LabBST.tlog/LabBST.lastbuildstate
x64/Debug/LabBST.tlog/link.read.1.tlog
x64/Debug/LabBST.tlog/link.write.1.tlog
x64/Debug/testBST.obj
x64/Debug/vc142.idb
x64/Debug/vc142.pdb
