
.DS_Store
LabBST.xcodeproj/project.xcworkspace/xcuserdata/alexanderdohms.xcuserdatad/UserInterfaceState.xcuserstate

# Visual Studio 2015/2017/2019 cache/options directory
.vs/
/.vs
/.vs/
LabBST.xcodeproj/project.xcworkspace/xcuserdata/alexanderdohms.xcuserdatad/UserInterfaceState.xcuserstate
